.head {
	color: #7B241C;
	font: solid bold;
}

.container { 
	border-radius: 10px;
	padding-top: 20px;
	background-color: #ABB2B9; 
}

.container {
	text-align: center;
}

#crystal1 {
	margin: 0%;
	overflow: auto;
	position: relative;
	text-align: center;
	padding: 10px;
	width: 30%;
	height: 200px;
}

#crystal2 {
	margin: 0%;
	overflow: auto;
	position: relative;
	text-align: center;
	padding: 10px;
	width: 30%;
	height: 200px;
}

#crystal3 {
	overflow: auto;
	position: relative;
	text-align: center;
	padding: 20px;
	width: 200px;
	height: 200px;
}

#crystal4 {
	overflow: auto;
	position: relative;
	text-align: center;
	padding: 20px;
	width: 200px;
	height: 200px;
}